

p {
background-color:rgb(244, 217, 234);
font-size:30px;
/*border is a shorthand property for border width, style, and color */
border:10px dashed pink;
text-align:center;
padding:10px 50px;
/* 
1 value: all sides

2 values: 1st value is top/bottom, 2nd value is left/right

4 values: 1st value top, 2nd value right, 3rd value bottom, 4th value left
*/

margin: 50px;

}
html{background-color: rgb(87, 118, 100);}

h1{
color:rgb(42, 3, 25)

}

.special {
    background-color:rgb(79, 95, 142);
    /* preface classes with . and ids with # */
    font-size:50px;
    border-radius:30px;
}

.center-text{
    text-align:center
}