h1,h3 {text-align: center;}

body{text-align: center; line-height: 1.5; background-image: url(../images/IMG_0619.jpeg); font-family:Verdana, Geneva, Tahoma, sans-serif;}


ol {list-style-position: inside;
margin-left: -40px;}

div {
  background-color: rgb(211, 211, 211);
  opacity: 80%;
  padding: 50px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 55px;
  border-style:double;
  border-color: black;
  border-width: 10px;
}